In [3]:

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sqlite3 as sql

In [4]:
conn = sql.connect("./imdb_dataset/movies.sqlite")

cur = conn.cursor()
movies = cur.execute("SELECT * FROM movies") # Get all the movies
print(movies.description) # Get the column names

(('id', None, None, None, None, None, None), ('original_title', None, None, None, None, None, None), ('budget', None, None, None, None, None, None), ('popularity', None, None, None, None, None, None), ('release_date', None, None, None, None, None, None), ('revenue', None, None, None, None, None, None), ('title', None, None, None, None, None, None), ('vote_average', None, None, None, None, None, None), ('vote_count', None, None, None, None, None, None), ('overview', None, None, None, None, None, None), ('tagline', None, None, None, None, None, None), ('uid', None, None, None, None, None, None), ('director_id', None, None, None, None, None, None))

In [5]:
movies =cur.fetchall()

moviesDF = pd.DataFrame(movies, columns=['id', 'original_title', 'budget','popularity', 'release_date', 'revenue', 'title', 'vote_average', 'vote_count', 'overview', 'tagline', 'uid', 'director_id' ])

print(moviesDF.head())

print(moviesDF.info)

      id                            original_title     budget  popularity  \
0  43597                                    Avatar  237000000         150
1  43598  Pirates of the Caribbean: At World's End  300000000         139
2  43599                                   Spectre  245000000         107
3  43600                     The Dark Knight Rises  250000000         112
4  43601                               John Carter  260000000          43

  release_date     revenue                                     title  \
0   2009-12-10  2787965087                                    Avatar
1   2007-05-19   961000000  Pirates of the Caribbean: At World's End
2   2015-10-26   880674609                                   Spectre
3   2012-07-16  1084939099                     The Dark Knight Rises
4   2012-03-07   284139100                               John Carter

   vote_average  vote_count  \
0           7.2       11800
1           6.9        4500
2           6.3        4466
3           7.6        9106
4           6.1        2124

                                            overview  \
0  In the 22nd century, a paraplegic Marine is di...
1  Captain Barbossa, long believed to be dead, ha...
2  A cryptic message from Bond’s past sends him o...
3  Following the death of District Attorney Harve...
4  John Carter is a war-weary, former military ca...

                                          tagline     uid  director_id
0                     Enter the World of Pandora.   19995         4762
1  At the end of the world, the adventure begins.     285         4763
2                           A Plan No One Escapes  206647         4764
3                                 The Legend Ends   49026         4765
4            Lost in our world, found in another.   49529         4766
<bound method DataFrame.info of          id                            original_title     budget  popularity  \
0     43597                                    Avatar  237000000         150
1     43598  Pirates of the Caribbean: At World's End  300000000         139
2     43599                                   Spectre  245000000         107
3     43600                     The Dark Knight Rises  250000000         112
4     43601                               John Carter  260000000          43
...     ...                                       ...        ...         ...
4768  48395                               El Mariachi     220000          14
4769  48396                                 Newlyweds       9000           0
4770  48397                 Signed, Sealed, Delivered          0           1
4771  48398                          Shanghai Calling          0           0
4772  48399                         My Date with Drew          0           1

     release_date     revenue                                     title  \
0      2009-12-10  2787965087                                    Avatar
1      2007-05-19   961000000  Pirates of the Caribbean: At World's End
2      2015-10-26   880674609                                   Spectre
3      2012-07-16  1084939099                     The Dark Knight Rises
4      2012-03-07   284139100                               John Carter
...           ...         ...                                       ...
4768   1992-09-04     2040920                               El Mariachi
4769   2011-12-26           0                                 Newlyweds
4770   2013-10-13           0                 Signed, Sealed, Delivered
4771   2012-05-03           0                          Shanghai Calling
4772   2005-08-05           0                         My Date with Drew

      vote_average  vote_count  \
0              7.2       11800
1              6.9        4500
2              6.3        4466
3              7.6        9106
4              6.1        2124
...            ...         ...
4768           6.6         238
4769           5.9           5
4770           7.0           6
4771           5.7           7
4772           6.3          16

                                               overview  \
0     In the 22nd century, a paraplegic Marine is di...
1     Captain Barbossa, long believed to be dead, ha...
2     A cryptic message from Bond’s past sends him o...
3     Following the death of District Attorney Harve...
4     John Carter is a war-weary, former military ca...
...                                                 ...
4768  El Mariachi just wants to play his guitar and ...
4769  A newlywed couple's honeymoon is upended by th...
4770  "Signed, Sealed, Delivered" introduces a dedic...
4771  When ambitious New York attorney Sam is sent t...
4772  Ever since the second grade when he first saw ...

                                                tagline     uid  director_id
0                           Enter the World of Pandora.   19995         4762
1        At the end of the world, the adventure begins.     285         4763
2                                 A Plan No One Escapes  206647         4764
3                                       The Legend Ends   49026         4765
4                  Lost in our world, found in another.   49529         4766
...                                                 ...     ...          ...
4768  He didn't come looking for trouble, but troubl...    9367         5097
4769  A newlywed couple's honeymoon is upended by th...   72766         6485
4770                                               None  231617         7108
4771                           A New Yorker in Shanghai  126186         7109
4772                                               None   25975         7110

[4773 rows x 13 columns]>

In [6]:
# Find all movies with directors
_cursor = cur.execute('SELECT * FROM directors')

directors = _cursor.fetchall()

directorsDF = pd.DataFrame(directors, columns = ['name', 'id', 'gender', 'uid', 'department'])
directorsDF.head()

                name    id  gender   uid department
0      James Cameron  4762       2  2710  Directing
1     Gore Verbinski  4763       2  1704  Directing
2         Sam Mendes  4764       2    39  Directing
3  Christopher Nolan  4765       2   525  Directing
4     Andrew Stanton  4766       2     7  Directing

In [7]:
directorsDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2349 entries, 0 to 2348
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        2349 non-null   object
 1   id          2349 non-null   int64
 2   gender      2349 non-null   int64
 3   uid         2349 non-null   int64
 4   department  2349 non-null   object
dtypes: int64(3), object(2)
memory usage: 91.9+ KB

In [8]:
# Budget analysis
# Sort from most expensive movie going down.

_cursor = cur.execute('SELECT original_title, name, release_date, budget, revenue FROM movies JOIN directors ON movies.director_id = directors.id ORDER BY budget DESC')
mostExpensive = _cursor.fetchall()
mostExpensiveDF = pd.DataFrame(mostExpensive, columns = ['original_title', 'director_name', 'release_date', 'budget', 'revenue'])
mostExpensiveDF.head(10)

,original_title,director_name,release_date,budget,revenue
0,Pirates of the Caribbean: On Stranger Tides,Rob Marshall,2011-05-14,380000000,1045713802
1,Pirates of the Caribbean: At World's End,Gore Verbinski,2007-05-19,300000000,961000000
2,Avengers: Age of Ultron,Joss Whedon,2015-04-22,280000000,1405403694
3,Superman Returns,Bryan Singer,2006-06-28,270000000,391081192
4,John Carter,Andrew Stanton,2012-03-07,260000000,284139100
5,Tangled,Byron Howard,2010-11-24,260000000,591794936
6,Spider-Man 3,Sam Raimi,2007-05-01,258000000,890871626
7,The Lone Ranger,Gore Verbinski,2013-07-03,255000000,89289910
8,The Dark Knight Rises,Christopher Nolan,2012-07-16,250000000,1084939099
9,Harry Potter and the Half-Blood Prince,David Yates,2009-07-07,250000000,933959197

In [14]:
# Plot the movies budgets in a scatter plot with the released dates
sns.set(style="darkgrid")
sns.relplot(x="release_date", y="budget", data=mostExpensiveDF)

C:\Users\tiogo\AppData\Local\Temp\ipykernel_14600\3821076277.py:8: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_xticklabels(labels=released_dates, rotation=45, ha='right')

[Text(0, 0, '2011-05-14'),
 Text(1, 0, '2007-05-19'),
 Text(2, 0, '2015-04-22'),
 Text(3, 0, '2006-06-28'),
 Text(4, 0, '2012-03-07'),
 Text(5, 0, '2010-11-24'),
 Text(6, 0, '2007-05-01'),
 Text(7, 0, '2013-07-03'),
 Text(8, 0, '2012-07-16'),
 Text(9, 0, '2009-07-07'),
 Text(10, 0, '2016-03-23'),
 Text(11, 0, '2014-12-10'),
 Text(12, 0, '2013-12-11'),
 Text(13, 0, '2016-04-27'),
 Text(14, 0, '2014-05-15'),
 Text(15, 0, '2012-11-26'),
 Text(16, 0, '2015-10-26'),
 Text(17, 0, '2009-12-10'),
 Text(18, 0, '2013-06-12'),
 Text(19, 0, '2008-05-15'),
 Text(20, 0, '2012-05-23'),
 Text(21, 0, '2012-04-25'),
 Text(22, 0, '2012-06-27'),
 Text(23, 0, '2006-05-24'),
 Text(24, 0, '2014-06-25'),
 Text(25, 0, '2012-04-11'),
 Text(26, 0, '2005-12-14'),
 Text(27, 0, '2008-10-30'),
 Text(28, 0, '2006-06-20'),
 Text(29, 0, '2010-05-12'),
 Text(30, 0, '1997-11-18'),
 Text(31, 0, '2012-10-25'),
 Text(32, 0, '2004-06-25'),
 Text(33, 0, '2013-04-18'),
 Text(34, 0, '2010-03-03'),
 Text(35, 0, '2013-06-20'),
 Text(36, 0, '2013-03-07'),
 Text(37, 0, '2014-04-16'),
 Text(38, 0, '2011-06-11'),
 Text(39, 0, '2011-06-16'),
 Text(40, 0, '2010-06-16'),
 Text(41, 0, '2009-05-20'),
 Text(42, 0, '2013-06-20'),
 Text(43, 0, '2009-10-10'),
 Text(44, 0, '2009-11-04'),
 Text(45, 0, '2010-04-28'),
 Text(46, 0, '2003-07-02'),
 Text(47, 0, '2013-02-27'),
 Text(48, 0, '2011-06-28'),
 Text(49, 0, '2015-04-01'),
 Text(50, 0, '2013-05-05'),
 Text(51, 0, '2015-05-19'),
 Text(52, 0, '2008-05-21'),
 Text(53, 0, '2012-06-21'),
 Text(54, 0, '2016-07-07'),
 Text(55, 0, '2008-07-16'),
 Text(56, 0, '2007-12-04'),
 Text(57, 0, '2013-07-11'),
 Text(58, 0, '2008-06-22'),
 Text(59, 0, '2016-06-29'),
 Text(60, 0, '2005-12-07'),
 Text(61, 0, '2014-05-28'),
 Text(62, 0, '2016-05-18'),
 Text(63, 0, '2014-05-27'),
 Text(64, 0, '2015-02-04'),
 Text(65, 0, '2015-11-14'),
 Text(66, 0, '2009-05-13'),
 Text(67, 0, '2009-03-19'),
 Text(68, 0, '2016-08-02'),
 Text(69, 0, '2007-06-09'),
 Text(70, 0, '1995-07-28'),
 Text(71, 0, '2009-08-04'),
 Text(72, 0, '2015-06-09'),
 Text(73, 0, '2016-04-07'),
 Text(74, 0, '2013-12-06'),
 Text(75, 0, '2004-05-13'),
 Text(76, 0, '2010-12-10'),
 Text(77, 0, '2011-11-22'),
 Text(78, 0, '1999-06-29'),
 Text(79, 0, '2012-05-30'),
 Text(80, 0, '2014-06-26'),
 Text(81, 0, '2014-03-20'),
 Text(82, 0, '2014-07-30'),
 Text(83, 0, '2016-05-25'),
 Text(84, 0, '2013-10-29'),
 Text(85, 0, '2010-05-16'),
 Text(86, 0, '2014-10-24'),
 Text(87, 0, '2012-11-01'),
 Text(88, 0, '2004-11-10'),
 Text(89, 0, '2016-06-22'),
 Text(90, 0, '2010-03-05'),
 Text(91, 0, '2014-11-05'),
 Text(92, 0, '2010-07-14'),
 Text(93, 0, '2011-05-24'),
 Text(94, 0, '2015-11-18'),
 Text(95, 0, '2006-05-12'),
 Text(96, 0, '2007-05-17'),
 Text(97, 0, '2016-05-25'),
 Text(98, 0, '1999-08-27'),
 Text(99, 0, '1997-06-13'),
 Text(100, 0, '2015-06-23'),
 Text(101, 0, '2010-08-13'),
 Text(102, 0, '2004-11-21'),
 Text(103, 0, '2015-06-09'),
 Text(104, 0, '2009-06-19'),
 Text(105, 0, '2010-05-19'),
 Text(106, 0, '2008-11-24'),
 Text(107, 0, '2010-07-13'),
 Text(108, 0, '2007-06-27'),
 Text(109, 0, '2007-06-28'),
 Text(110, 0, '2005-11-05'),
 Text(111, 0, '2008-07-01'),
 Text(112, 0, '2007-12-14'),
 Text(113, 0, '2005-07-13'),
 Text(114, 0, '2007-06-22'),
 Text(115, 0, '2005-06-10'),
 Text(116, 0, '2008-10-30'),
 Text(117, 0, '2009-05-20'),
 Text(118, 0, '2009-04-28'),
 Text(119, 0, '2003-11-05'),
 Text(120, 0, '2013-11-27'),
 Text(121, 0, '2003-05-15'),
 Text(122, 0, '2015-05-13'),
 Text(123, 0, '2009-05-13'),
 Text(124, 0, '2011-04-21'),
 Text(125, 0, '2008-11-21'),
 Text(126, 0, '2009-07-21'),
 Text(127, 0, '2012-03-27'),
 Text(128, 0, '2012-05-08'),
 Text(129, 0, '2015-07-23'),
 Text(130, 0, '2010-02-11'),
 Text(131, 0, '2007-10-28'),
 Text(132, 0, '2011-05-25'),
 Text(133, 0, '2010-06-30'),
 Text(134, 0, '2006-05-03'),
 Text(135, 0, '2013-06-27'),
 Text(136, 0, '2011-03-09'),
 Text(137, 0, '2015-09-24'),
 Text(138, 0, '2009-05-06'),
 Text(139, 0, '2003-11-14'),
 Text(140, 0, '2008-06-12'),
 Text(141, 0, '2006-11-14'),
 Text(142, 0, '2004-05-19'),
 Text(143, 0, '2005-11-04'),
 Text(144, 0, '2006-10-22'),
 Text(145, 0, '2008-07-01'),
 Text(146, 0, '2014-02-07'),
 Text(147, 0, '2012-06-06'),
 Text(148, 0, '2016-01-23'),
 Text(149, 0, '2011-12-07'),
 Text(150, 0, '2012-11-21'),
 Text(151, 0, '2014-06-12'),
 Text(152, 0, '2004-04-07'),
 Text(153, 0, '2016-07-14'),
 Text(154, 0, '2007-08-08'),
 Text(155, 0, '2008-04-30'),
 Text(156, 0, '2001-05-21'),
 Text(157, 0, '2002-11-17'),
 Text(158, 0, '1998-07-01'),
 Text(159, 0, '2002-07-03'),
 Text(160, 0, '2003-12-05'),
 Text(161, 0, '2014-12-03'),
 Text(162, 0, '2016-02-25'),
 Text(163, 0, '1998-07-10'),
 Text(164, 0, '2011-07-22'),
 Text(165, 0, '2016-06-01'),
 Text(166, 0, '2003-07-09'),
 Text(167, 0, '2002-11-26'),
 Text(168, 0, '2002-05-01'),
 Text(169, 0, '2003-06-19'),
 Text(170, 0, '2001-07-02'),
 Text(171, 0, '2005-07-28'),
 Text(172, 0, '1999-11-08'),
 Text(173, 0, '2015-12-25'),
 Text(174, 0, '2013-07-11'),
 Text(175, 0, '2011-03-02'),
 Text(176, 0, '2015-03-18'),
 Text(177, 0, '2013-03-20'),
 Text(178, 0, '2016-06-01'),
 Text(179, 0, '1999-12-17'),
 Text(180, 0, '2014-11-22'),
 Text(181, 0, '2005-06-28'),
 Text(182, 0, '2009-03-05'),
 Text(183, 0, '2013-03-26'),
 Text(184, 0, '2005-04-06'),
 Text(185, 0, '2011-11-17'),
 Text(186, 0, '2008-06-04'),
 Text(187, 0, '2015-07-14'),
 Text(188, 0, '2013-11-15'),
 Text(189, 0, '2003-07-18'),
 Text(190, 0, '2011-10-28'),
 Text(191, 0, '2011-10-25'),
 Text(192, 0, '2004-05-31'),
 Text(193, 0, '2008-11-18'),
 Text(194, 0, '2013-05-30'),
 Text(195, 0, '2010-10-28'),
 Text(196, 0, '2013-07-18'),
 Text(197, 0, '2012-08-08'),
 Text(198, 0, '2007-06-13'),
 Text(199, 0, '2012-05-30'),
 Text(200, 0, '2005-05-03'),
 Text(201, 0, '2014-02-18'),
 Text(202, 0, '2000-05-19'),
 Text(203, 0, '2014-12-17'),
 Text(204, 0, '2005-07-20'),
 Text(205, 0, '2014-03-20'),
 Text(206, 0, '2001-11-16'),
 Text(207, 0, '2014-11-18'),
 Text(208, 0, '2006-05-17'),
 Text(209, 0, '2011-04-20'),
 Text(210, 0, '2011-11-22'),
 Text(211, 0, '2010-04-01'),
 Text(212, 0, '1997-06-20'),
 Text(213, 0, '2004-05-26'),
 Text(214, 0, '2000-05-24'),
 Text(215, 0, '2014-08-07'),
 Text(216, 0, '2000-11-17'),
 Text(217, 0, '2012-11-13'),
 Text(218, 0, '2000-03-15'),
 Text(219, 0, '2012-11-20'),
 Text(220, 0, '2016-07-27'),
 Text(221, 0, '2003-06-27'),
 Text(222, 0, '2002-07-19'),
 Text(223, 0, '2014-01-30'),
 Text(224, 0, '2008-05-09'),
 Text(225, 0, '2010-12-17'),
 Text(226, 0, '2013-04-10'),
 Text(227, 0, '2002-05-15'),
 Text(228, 0, '2013-07-23'),
 Text(229, 0, '2015-08-05'),
 Text(230, 0, '2011-01-12'),
 Text(231, 0, '2004-07-15'),
 Text(232, 0, '2001-06-02'),
 Text(233, 0, '2006-06-08'),
 Text(234, 0, '1998-11-25'),
 Text(235, 0, '2010-06-15'),
 Text(236, 0, '1997-02-07'),
 Text(237, 0, '2004-12-17'),
 Text(238, 0, '2013-08-07'),
 Text(239, 0, '2001-11-01'),
 Text(240, 0, '1999-05-19'),
 Text(241, 0, '2002-06-14'),
 Text(242, 0, '2016-04-06'),
 Text(243, 0, '1994-07-14'),
 Text(244, 0, '2001-06-11'),
 Text(245, 0, '2005-05-17'),
 Text(246, 0, '2010-12-25'),
 Text(247, 0, '2010-07-21'),
 Text(248, 0, '2003-04-24'),
 Text(249, 0, '2007-02-16'),
 Text(250, 0, '2006-10-20'),
 Text(251, 0, '2015-05-27'),
 Text(252, 0, '1997-12-11'),
 Text(253, 0, '2000-06-28'),
 Text(254, 0, '2004-12-09'),
 Text(255, 0, '2005-06-07'),
 Text(256, 0, '2015-03-18'),
 Text(257, 0, '2014-03-05'),
 Text(258, 0, '2011-07-29'),
 Text(259, 0, '2004-04-02'),
 Text(260, 0, '2016-03-09'),
 Text(261, 0, '2011-09-28'),
 Text(262, 0, '2013-10-23'),
 Text(263, 0, '2007-06-20'),
 Text(264, 0, '2004-06-16'),
 Text(265, 0, '2015-09-30'),
 Text(266, 0, '2001-12-11'),
 Text(267, 0, '2013-05-10'),
 Text(268, 0, '2004-06-11'),
 Text(269, 0, '2013-09-27'),
 Text(270, 0, '2013-07-30'),
 Text(271, 0, '2009-12-08'),
 Text(272, 0, '1997-11-06'),
 Text(273, 0, '2015-12-03'),
 Text(274, 0, '2014-03-19'),
 Text(275, 0, '2000-05-01'),
 Text(276, 0, '2002-06-20'),
 Text(277, 0, '2012-10-26'),
 Text(278, 0, '2001-06-07'),
 Text(279, 0, '2005-12-21'),
 Text(280, 0, '2002-11-13'),
 Text(281, 0, '2001-07-25'),
 Text(282, 0, '1991-07-01'),
 Text(283, 0, '2007-11-02'),
 Text(284, 0, '2009-06-11'),
 Text(285, 0, '2010-12-21'),
 Text(286, 0, '2010-08-06'),
 Text(287, 0, '1996-06-21'),
 Text(288, 0, '2012-12-25'),
 Text(289, 0, '1996-06-21'),
 Text(290, 0, '2000-12-09'),
 Text(291, 0, '2012-08-08'),
 Text(292, 0, '2004-11-19'),
 Text(293, 0, '2006-12-14'),
 Text(294, 0, '2009-10-16'),
 Text(295, 0, '2013-05-15'),
 Text(296, 0, '2010-12-08'),
 Text(297, 0, '1999-11-24'),
 Text(298, 0, '2006-12-07'),
 Text(299, 0, '2013-12-25'),
 Text(300, 0, '1995-05-31'),
 Text(301, 0, '2004-07-22'),
 Text(302, 0, '2014-07-23'),
 Text(303, 0, '2009-06-05'),
 Text(304, 0, '2015-11-20'),
 Text(305, 0, '2002-08-15'),
 Text(306, 0, '2010-03-11'),
 Text(307, 0, '2002-12-14'),
 Text(308, 0, '2010-05-26'),
 Text(309, 0, '2014-04-16'),
 Text(310, 0, '2010-11-04'),
 Text(311, 0, '2000-07-21'),
 Text(312, 0, '2009-09-17'),
 Text(313, 0, '2016-08-17'),
 Text(314, 0, '2001-06-29'),
 Text(315, 0, '1999-12-17'),
 Text(316, 0, '2002-07-19'),
 Text(317, 0, '2006-11-16'),
 Text(318, 0, '2004-03-05'),
 Text(319, 0, '2009-04-01'),
 Text(320, 0, '2015-11-05'),
 Text(321, 0, '2001-04-28'),
 Text(322, 0, '1995-12-22'),
 Text(323, 0, '2008-01-13'),
 Text(324, 0, '2000-03-31'),
 Text(325, 0, '2012-06-26'),
 Text(326, 0, '2015-03-12'),
 Text(327, 0, '2014-12-12'),
 Text(328, 0, '2010-02-01'),
 Text(329, 0, '2000-08-04'),
 Text(330, 0, '2003-07-21'),
 Text(331, 0, '1998-07-16'),
 Text(332, 0, '2011-12-15'),
 Text(333, 0, '2003-05-30'),
 Text(334, 0, '2003-12-01'),
 Text(335, 0, '2001-04-27'),
 Text(336, 0, '2001-12-18'),
 Text(337, 0, '2001-07-18'),
 Text(338, 0, '2011-08-03'),
 Text(339, 0, '1927-01-10'),
 Text(340, 0, '2001-12-28'),
 Text(341, 0, '2013-02-06'),
 Text(342, 0, '2004-11-05'),
 Text(343, 0, '2000-11-02'),
 Text(344, 0, '2008-08-09'),
 Text(345, 0, '2001-11-18'),
 Text(346, 0, '1996-05-10'),
 Text(347, 0, '2001-04-27'),
 Text(348, 0, '2000-06-09'),
 Text(349, 0, '2014-08-04'),
 Text(350, 0, '2004-06-10'),
 Text(351, 0, '1997-05-07'),
 Text(352, 0, '2008-02-14'),
 Text(353, 0, '1997-07-02'),
 Text(354, 0, '1999-10-30'),
 Text(355, 0, '2001-08-03'),
 Text(356, 0, '2009-06-29'),
 Text(357, 0, '2013-12-18'),
 Text(358, 0, '2006-10-05'),
 Text(359, 0, '1998-06-18'),
 Text(360, 0, '2011-12-14'),
 Text(361, 0, '1995-05-19'),
 Text(362, 0, '2009-12-23'),
 Text(363, 0, '2008-06-05'),
 Text(364, 0, '2003-11-25'),
 Text(365, 0, '1997-07-11'),
 Text(366, 0, '2013-08-07'),
 Text(367, 0, '2016-06-02'),
 Text(368, 0, '2000-03-10'),
 Text(369, 0, '2011-04-03'),
 Text(370, 0, '1997-04-25'),
 Text(371, 0, '1997-03-12'),
 Text(372, 0, '2010-11-24'),
 Text(373, 0, '2000-12-22'),
 Text(374, 0, '1998-11-20'),
 Text(375, 0, '1998-11-12'),
 Text(376, 0, '1998-12-25'),
 Text(377, 0, '1998-11-25'),
 Text(378, 0, '2015-10-21'),
 Text(379, 0, '1999-10-28'),
 Text(380, 0, '2000-01-14'),
 Text(381, 0, '2006-10-18'),
 Text(382, 0, '1999-02-05'),
 Text(383, 0, '2015-07-16'),
 Text(384, 0, '2005-06-02'),
 Text(385, 0, '2005-08-26'),
 Text(386, 0, '2003-07-22'),
 Text(387, 0, '2006-12-13'),
 Text(388, 0, '2007-11-28'),
 Text(389, 0, '2007-06-08'),
 Text(390, 0, '1997-07-25'),
 Text(391, 0, '2001-12-07'),
 Text(392, 0, '2012-09-20'),
 Text(393, 0, '2007-11-20'),
 Text(394, 0, '2012-02-09'),
 Text(395, 0, '2000-10-07'),
 Text(396, 0, '2006-12-08'),
 Text(397, 0, '2009-12-23'),
 Text(398, 0, '2007-06-07'),
 Text(399, 0, '2006-09-29'),
 Text(400, 0, '2014-03-14'),
 Text(401, 0, '2003-09-26'),
 Text(402, 0, '1993-06-18'),
 Text(403, 0, '2005-12-06'),
 Text(404, 0, '2006-06-03'),
 Text(405, 0, '2002-02-06'),
 Text(406, 0, '2012-03-15'),
 Text(407, 0, '2010-07-30'),
 Text(408, 0, '2008-02-10'),
 Text(409, 0, '2008-07-11'),
 Text(410, 0, '2006-12-15'),
 Text(411, 0, '1998-10-02'),
 Text(412, 0, '2000-11-10'),
 Text(413, 0, '2005-02-18'),
 Text(414, 0, '2000-07-27'),
 Text(415, 0, '2002-06-14'),
 Text(416, 0, '2013-07-18'),
 Text(417, 0, '2000-04-28'),
 Text(418, 0, '2006-06-22'),
 Text(419, 0, '2000-11-17'),
 Text(420, 0, '2005-05-19'),
 Text(421, 0, '2011-03-24'),
 Text(422, 0, '1999-12-22'),
 Text(423, 0, '2008-07-10'),
 Text(424, 0, '2009-07-01'),
 Text(425, 0, '2010-07-10'),
 Text(426, 0, '2005-04-08'),
 Text(427, 0, '2003-05-23'),
 Text(428, 0, '2010-08-03'),
 Text(429, 0, '1996-05-22'),
 Text(430, 0, '2011-05-25'),
 Text(431, 0, '1992-06-19'),
 Text(432, 0, '2006-04-22'),
 Text(433, 0, '2002-06-21'),
 Text(434, 0, '2013-07-11'),
 Text(435, 0, '2008-06-19'),
 Text(436, 0, '2003-12-12'),
 Text(437, 0, '2010-02-18'),
 Text(438, 0, '2008-11-26'),
 Text(439, 0, '1997-06-27'),
 Text(440, 0, '2008-12-24'),
 Text(441, 0, '2002-07-12'),
 Text(442, 0, '2011-02-10'),
 Text(443, 0, '2008-09-25'),
 Text(444, 0, '2010-01-14'),
 Text(445, 0, '1997-11-26'),
 Text(446, 0, '1999-07-23'),
 Text(447, 0, '1996-11-15'),
 Text(448, 0, '2008-12-10'),
 Text(449, 0, '2010-12-11'),
 Text(450, 0, '2002-05-24'),
 Text(451, 0, '2011-07-06'),
 Text(452, 0, '1998-04-03'),
 Text(453, 0, '2004-07-30'),
 Text(454, 0, '2015-09-21'),
 Text(455, 0, '1999-12-17'),
 Text(456, 0, '2002-03-04'),
 Text(457, 0, '2009-09-24'),
 Text(458, 0, '2000-12-24'),
 Text(459, 0, '1996-12-06'),
 Text(460, 0, '2013-12-18'),
 Text(461, 0, '2003-11-14'),
 Text(462, 0, '2009-12-03'),
 Text(463, 0, '2003-11-26'),
 Text(464, 0, '1997-12-25'),
 Text(465, 0, '2000-11-10'),
 Text(466, 0, '2005-05-15'),
 Text(467, 0, '2007-08-17'),
 Text(468, 0, '2006-03-23'),
 Text(469, 0, '2004-08-20'),
 Text(470, 0, '2010-06-24'),
 Text(471, 0, '2004-12-17'),
 Text(472, 0, '1996-11-08'),
 Text(473, 0, '2003-08-08'),
 Text(474, 0, '2016-01-25'),
 Text(475, 0, '2004-12-22'),
 Text(476, 0, '2010-01-29'),
 Text(477, 0, '2000-11-02'),
 Text(478, 0, '1999-03-26'),
 Text(479, 0, '2005-08-12'),
 Text(480, 0, '1999-06-04'),
 Text(481, 0, '1999-03-05'),
 Text(482, 0, '1999-02-22'),
 Text(483, 0, '2002-12-18'),
 Text(484, 0, '2003-12-24'),
 Text(485, 0, '2012-01-19'),
 Text(486, 0, '2011-11-11'),
 Text(487, 0, '2009-03-19'),
 Text(488, 0, '2013-09-26'),
 Text(489, 0, '2002-09-29'),
 Text(490, 0, '2003-07-11'),
 Text(491, 0, '2003-06-05'),
 Text(492, 0, '2000-06-30'),
 Text(493, 0, '2013-06-25'),
 Text(494, 0, '2006-09-22'),
 Text(495, 0, '2008-12-25'),
 Text(496, 0, '2004-07-23'),
 Text(497, 0, '2011-08-31'),
 Text(498, 0, '2011-11-02'),
 Text(499, 0, '2012-03-12'),
 Text(500, 0, '1998-05-08'),
 Text(501, 0, '2011-12-14'),
 Text(502, 0, '2005-03-10'),
 Text(503, 0, '1997-06-01'),
 Text(504, 0, '1997-08-07'),
 Text(505, 0, '2005-10-24'),
 Text(506, 0, '2016-06-18'),
 Text(507, 0, '1996-06-25'),
 Text(508, 0, '2005-05-25'),
 Text(509, 0, '2000-07-13'),
 Text(510, 0, '2008-06-19'),
 Text(511, 0, '1996-06-06'),
 Text(512, 0, '2004-02-13'),
 Text(513, 0, '1999-07-23'),
 Text(514, 0, '2013-05-29'),
 Text(515, 0, '2000-12-08'),
 Text(516, 0, '2007-12-19'),
 Text(517, 0, '2004-09-20'),
 Text(518, 0, '2010-06-04'),
 Text(519, 0, '2015-08-13'),
 Text(520, 0, '2006-07-21'),
 Text(521, 0, '2001-10-12'),
 Text(522, 0, '1999-12-16'),
 Text(523, 0, '2011-11-10'),
 Text(524, 0, '2000-06-16'),
 Text(525, 0, '2003-06-09'),
 Text(526, 0, '1998-10-23'),
 Text(527, 0, '2001-02-23'),
 Text(528, 0, '2000-11-13'),
 Text(529, 0, '1998-02-13'),
 Text(530, 0, '2009-07-31'),
 Text(531, 0, '2007-07-25'),
 Text(532, 0, '2006-07-21'),
 Text(533, 0, '2009-12-21'),
 Text(534, 0, '2002-03-01'),
 Text(535, 0, '2012-06-13'),
 Text(536, 0, '2001-08-07'),
 Text(537, 0, '1998-10-16'),
 Text(538, 0, '2001-10-30'),
 Text(539, 0, '1999-09-27'),
 Text(540, 0, '1999-04-02'),
 Text(541, 0, '1999-08-26'),
 Text(542, 0, '2004-04-07'),
 Text(543, 0, '2015-06-17'),
 Text(544, 0, '2015-02-05'),
 Text(545, 0, '1997-05-23'),
 Text(546, 0, '1998-08-07'),
 Text(547, 0, '2016-05-11'),
 Text(548, 0, '1999-11-04'),
 Text(549, 0, '2006-08-04'),
 Text(550, 0, '1995-05-24'),
 Text(551, 0, '2005-11-04'),
 Text(552, 0, '2001-12-21'),
 Text(553, 0, '2002-08-02'),
 Text(554, 0, '2001-10-19'),
 Text(555, 0, '1998-06-22'),
 Text(556, 0, '2007-11-05'),
 Text(557, 0, '2007-08-03'),
 Text(558, 0, '1998-06-12'),
 Text(559, 0, '1996-12-12'),
 Text(560, 0, '2006-12-25'),
 Text(561, 0, '2005-12-22'),
 Text(562, 0, '2003-03-07'),
 Text(563, 0, '2008-02-07'),
 Text(564, 0, '2007-08-22'),
 Text(565, 0, '2001-06-22'),
 Text(566, 0, '1999-07-30'),
 Text(567, 0, '2002-08-09'),
 Text(568, 0, '2009-08-18'),
 Text(569, 0, '1991-12-11'),
 Text(570, 0, '1990-07-02'),
 Text(571, 0, '2004-08-12'),
 Text(572, 0, '2013-03-20'),
 Text(573, 0, '1998-12-10'),
 Text(574, 0, '2011-03-08'),
 Text(575, 0, '2003-12-25'),
 Text(576, 0, '2014-01-24'),
 Text(577, 0, '1989-08-09'),
 Text(578, 0, '2010-09-02'),
 Text(579, 0, '2014-10-01'),
 Text(580, 0, '1998-11-06'),
 Text(581, 0, '2007-08-09'),
 Text(582, 0, '1997-09-12'),
 Text(583, 0, '2011-01-13'),
 Text(584, 0, '2002-06-07'),
 Text(585, 0, '2002-10-31'),
 Text(586, 0, '2012-01-19'),
 Text(587, 0, '2002-02-15'),
 Text(588, 0, '2002-09-20'),
 Text(589, 0, '1998-01-16'),
 Text(590, 0, '2013-06-13'),
 Text(591, 0, '2015-01-13'),
 Text(592, 0, '2004-09-17'),
 Text(593, 0, '2006-03-29'),
 Text(594, 0, '2014-01-10'),
 Text(595, 0, '2009-05-17'),
 Text(596, 0, '2008-10-10'),
 Text(597, 0, '1998-07-24'),
 Text(598, 0, '2000-12-15'),
 Text(599, 0, '1993-05-28'),
 Text(600, 0, '1998-12-15'),
 Text(601, 0, '2009-09-19'),
 Text(602, 0, '2004-04-23'),
 Text(603, 0, '1998-03-05'),
 Text(604, 0, '1997-11-12'),
 Text(605, 0, '2009-11-19'),
 Text(606, 0, '2012-06-14'),
 Text(607, 0, '2005-02-10'),
 Text(608, 0, '2004-12-08'),
 Text(609, 0, '2008-12-09'),
 Text(610, 0, '1999-08-06'),
 Text(611, 0, '2008-08-20'),
 Text(612, 0, '1999-09-24'),
 Text(613, 0, '1999-09-01'),
 Text(614, 0, '2007-02-08'),
 Text(615, 0, '1999-08-27'),
 Text(616, 0, '2010-07-08'),
 Text(617, 0, '2010-07-30'),
 Text(618, 0, '2012-06-20'),
 Text(619, 0, '2016-01-22'),
 Text(620, 0, '1997-04-03'),
 Text(621, 0, '2001-03-13'),
 Text(622, 0, '2014-10-15'),
 Text(623, 0, '2001-12-10'),
 Text(624, 0, '2002-05-31'),
 Text(625, 0, '2010-06-23'),
 Text(626, 0, '2001-07-13'),
 Text(627, 0, '2015-06-25'),
 Text(628, 0, '1999-08-06'),
 Text(629, 0, '2003-03-21'),
 Text(630, 0, '2012-07-26'),
 Text(631, 0, '2007-04-19'),
 Text(632, 0, '2007-04-06'),
 Text(633, 0, '2011-12-25'),
 Text(634, 0, '2011-09-23'),
 Text(635, 0, '1999-04-29'),
 Text(636, 0, '1998-06-19'),
 Text(637, 0, '2014-03-13'),
 Text(638, 0, '2004-04-02'),
 Text(639, 0, '1990-06-01'),
 Text(640, 0, '2009-12-26'),
 Text(641, 0, '2007-03-02'),
 Text(642, 0, '2012-11-09'),
 Text(643, 0, '2002-10-31'),
 Text(644, 0, '1998-12-17'),
 Text(645, 0, '2008-07-25'),
 Text(646, 0, '2010-11-04'),
 Text(647, 0, '2014-12-25'),
 Text(648, 0, '2000-07-31'),
 Text(649, 0, '2000-07-07'),
 Text(650, 0, '2003-12-19'),
 Text(651, 0, '2012-05-15'),
 Text(652, 0, '1999-07-14'),
 Text(653, 0, '2014-12-19'),
 Text(654, 0, '2012-02-14'),
 Text(655, 0, '2004-12-08'),
 Text(656, 0, '1998-03-20'),
 Text(657, 0, '2012-09-12'),
 Text(658, 0, '1996-10-11'),
 Text(659, 0, '2000-12-08'),
 Text(660, 0, '2005-11-06'),
 Text(661, 0, '2006-12-12'),
 Text(662, 0, '1991-05-23'),
 Text(663, 0, '2000-10-27'),
 Text(664, 0, '2014-01-22'),
 Text(665, 0, '2014-08-20'),
 Text(666, 0, '2009-10-15'),
 Text(667, 0, '2015-02-19'),
 Text(668, 0, '2006-12-09'),
 Text(669, 0, '2004-08-04'),
 Text(670, 0, '1999-02-11'),
 Text(671, 0, '2012-06-15'),
 Text(672, 0, '2001-05-11'),
 Text(673, 0, '2000-08-11'),
 Text(674, 0, '1999-09-17'),
 Text(675, 0, '1998-11-13'),
 Text(676, 0, '2016-08-10'),
 Text(677, 0, '2015-07-29'),
 Text(678, 0, '1999-10-08'),
 Text(679, 0, '2006-08-31'),
 Text(680, 0, '2000-10-06'),
 Text(681, 0, '1999-03-30'),
 Text(682, 0, '2006-08-09'),
 Text(683, 0, '1999-10-15'),
 Text(684, 0, '2002-07-26'),
 Text(685, 0, '1993-06-11'),
 Text(686, 0, '1994-06-24'),
 Text(687, 0, '2011-03-30'),
 Text(688, 0, '1988-05-24'),
 Text(689, 0, '1994-08-03'),
 Text(690, 0, '2000-04-20'),
 Text(691, 0, '1995-11-17'),
 Text(692, 0, '2008-06-20'),